:root {
  --grass-bg-color: rgba(116, 203, 72, 0.7);
  --fire-bg-color: rgba(245, 125, 49, 0.7);
  --water-bg-color: rgba(51, 153, 254, 0.7);
  --poison-bg-color: rgba(169, 187, 34, 0.7);
}

  /* Pokemon BG Color based on Type */
.default-type {
  background: white;
}
.rock-type {
  background: #BBAA66;
}
.ghost-type {
  background: #6666BA;
}
.steel-type {
  background: #AAAABB;
}
.water-type {
  background: #3399FE;
}
.grass-type {
  background: #76CC55;
}
.psychic-type {
  background: #FF5599;
}
.ice-type {
  background: #65CCFF;
}
.dark-type {
  background: #775444;
}
.fairy-type {
  background: #EE99EE;
}
.normal-type {
  background: #AAAA9B;
}
.fighting-type {
  background: #BA5544;
}
.flying-type {
  background: #8799FF;
}
.poison-type {
  background: #AA5599;
}
.ground-type {
  background: #DDBB54;
}
.bug-type {
  background: #A9BB22;
}
.fire-type {
  background: #EB5435;
}
.electric-type {
  background: #FFCC33;
}
.dragon-type {
  background: #6666BA;
}




.post-container {
  display: flex;
  height: 200px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  margin: 20px;
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 3px 3px rgba(0,0,0,0.25); 
  box-shadow: 1px 2px 3px 3px rgba(0,0,0,0.25);
}


.post-image {
  width: 160px;
  height: 160px;
}



.post-text {
  width: 100%;
  border-top: 1px black solid;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background: white;
  border-radius: 0 0 15px 15px;
}

.post-text p {
  margin: 0;
  padding: 0 0 0 20px;
}



