.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% 5%;
}

#mainLogo {
  height: 120px;
  width: 331.71px;
}

.header-button {
  color: white;
  background: #EB5435;
  height: 72px;
  /* width: 420px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 36px;
  font-weight: 600;
  text-decoration: none;
  padding-right: 10px;
}

.header-button img {
  height: 72px;
  width: 72px;
}

@media (max-width: 750px) {
  .header-button {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 0;
    transform: translate(-15px, -25px);
    background-color: #FAFAFA;
  }
  .header-button span {
    display: none;
  }
}