.details-container {
  width: 360px;
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);  border-radius: 44px;
  height: 100%;
  transition: width .35s;
  margin: 150px 20px 0 20px;
}


.details-cover{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  border-radius: 44px 44px 0 0;
}
.detail-img {
  width: 140px;
  height: 140px;
}

.details-postTitle {
  font-size:26px;
}

.details-text {
  width: 83%;
  padding-left: 20px;
  margin: 20px 20px 0 20px;
  border-radius: 16px;
  box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.05);
}

.details-text h1{
  font-size: 18px;
}
.details-text p {
  font-size: 15px;
}

.details-stats {
  margin-bottom: 20px;
}

.capture-information{
  margin-top: 0;
  margin-bottom: 25px;
}

 /* Capture Button */
 .capture-button {
  border: none;
  background:#EB5435;
  align-self: center;
  width: 83%;
  margin: 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  height: 53px;
  border-radius: 100px;
  cursor: pointer;
 }


 /* @media (max-width: 750px) {
  .details-container {
    position: absolute;
    z-index: 2;
    background: white;
    width: 90vw !important;
  }
 } */